.row
  .col
    %h1 Article
  .col.text-right.mt-3
    =link_to "New Article", new_article_path, class: 'btn btn-sm btn-primary'
.row
  .col
    %table.table
      %thead
        %th.text-center Titles
        %th.text-center Description
        %th
        %th

      -@articles.each do |a|
        %tr
          %th=a.title
          %td
            =a.description
            %br
              %small
                - if a.user
                  %span.badge.badge-success
                    Created by
                    =a.user.username
                %span.badge.badge-primary
                  Made:
                  =time_ago_in_words a.created_at
                  ago
                %span.badge.badge-secondary
                  Updated:
                  =time_ago_in_words a.updated_at
                  ago
          %td=link_to "Show", article_path(a)
          %td=link_to "Edit", edit_article_path(a)