.row
  .col
    %h1 Articles
  .col.text-right.mt-3
    =link_to "New Article", new_article_path, class: 'btn btn-primary' if logged_in?

=render 'articles', articles: @articles

-# this totally isn't centered. w/e
.row
  .col.text-center
    =will_paginate #@articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer