%p#notice= notice
.row.text-center
  .col
    =gravatar_for @user, size:150
.row.text-center.mt-5.mb-5
  .col
    %h2= @user.username
    %p= @user.email
    = link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-primary'

=render 'articles/articles', articles: @user.articles