.container.text-center
  .row
    .col
      =image_tag 'me.png', class: 'rounded-circle', width: '200px'
  .row.mt-5
    .col
      %h1 Welcome!
      %p There isn't much to see yet but just you wait :)